*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}
a{color:#000;text-decoration: none;font-weight: 600}
body{font:12px/180% Arial, Helvetica, sans-serif, "新宋体";}

.cn_gobuy {
    width: 140px;
    text-align: center;
    line-height: 2;
    margin-left: 10%;
    margin-top: 30%;

    border-radius: 3%;
    position: absolute;
    height: 100px;

    overflow: hidden;
}


.cn_gobuy1 {
    width: 140px;
    text-align: center;
    line-height: 2;
    margin-left: 20%;
    margin-top: 30%;

    border-radius: 3%;
    position: absolute;
    height: 100px;

    overflow: hidden;
}
.biankuang{
    width: 3px;
    height: 3px;
    position: inherit;
    z-index: 999;
    border-radius:10px;

}
.biankuang_1{
    height: 0px;
    top: 0px;
    left:0px;
    border-left: 3px solid mediumspringgreen;
}
.biankuang_2 {
    width: 0px;
    bottom:0px;
    left: 0px;
    border-top: 3px solid mediumspringgreen;
}
.biankuang_3{
    height: 0px;
    bottom:0px;
    right:0px;
    border-right: 3px solid mediumspringgreen;

}
.biankuang_4{
    width:0px;
    top:0px;
    right:0px;
    border-bottom: 3px solid mediumspringgreen;
}/*
/!*边框动画*!/
@keyframes changes1 {
	0%{height: 0px; border-left:3px solid transparent;}
	100%{height:305px; border-left: 3px solid red;}
	/!*100%{height:300px;width: 300px}*!/
}
@keyframes changes2 {
	0%{width: 0px;border-bottom: 3px solid transparent;}
	100%{width:300px;border-bottom: 3px solid red;}
	/!*100%{height:300px;width: 300px}*!/
}*/

.tp_gobuy {
    position: absolute;
    z-index:2;
    left: 0;
    top: 0px;
}
.text_gobuy {
    position: absolute;
    z-index:9;
    bottom: -50px;
    width: 360px;
    height: 50px;
    overflow: hidden;
    background:rgba(207, 208, 211, 0);
    cursor: pointer;
    transition:all  300ms;
    -webkit-transition:all  300ms;
    -moz-transition:all  300ms;
    -o-transition:all  300ms;
}
.text_gobuy_show{
    height: 50px;
    position: absolute;
    z-index:9;
    bottom:0px;
    width: 360px;
    overflow: hidden;
    padding: 10px 15px ;
    cursor: pointer;
    background-color: rgba(207, 208, 211,0.3);
}
.cn_gobuy b{position: absolute;bottom:10px;left:20px;line-height: 33px;color: #EB5858}
.cn_gobuy .a_add_divboc{position: absolute;bottom: 0;left:200px}
.top_text{position: absolute;top:0;z-index: 999;text-align: center;width: 100%;left: 0}
.search_y{position: absolute;left:10px; top:70px;z-index: 999;opacity:10}

.picturesize{
    width: 140px;
    height: 100px;
}


